* {
    /* Prevents entire web page from being selectable */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    font-family: 'Arial', Helvetica, sans-serif;
    font-size: 12px;
}

@font-face {

}

body{
    background-color: #464646;
}

button{
    height: 30px;
    background-color: #7d0000;
    color: white;
    border-radius: 5px;
    border-width: 1px;
    border-color: white;
}

#toolboxDiv{
    position: fixed;
    display: flex;
    align-items:center;
    top: 5px;
    left: 160px;
    right: 5px;
    height: 30px;
    background-color: #585858;
}

#sideBarDiv{
    position: fixed;
    top: 5px;
    bottom: 5px;
    left: 5px;
    width: 150px;
    background-color: #787878;
}

.sideBarButtons{
    width: 73px;
}

#canvasDiv{
    position: fixed;
    top: 40px;
    left: 160px;
    bottom: 5px;
    right: 5px;
    background-color: white;
}

#doneDiv{
    position: fixed;
    display: flex;
    align-items:center;
    top: 5px;
    right: 5px;
    height: 30px;
    background-color: #585858;
}

.sideBarTab{
    position: fixed;
    background-color: transparent;
    top: 80px;
    bottom: 5px;
    left: 5px;
    width: 150px;
    overflow-y: scroll;
    font-size: 12px;
    overflow-x: hidden;
}

.sideBarImage{
    width: 110px;
    margin-left: 20px;
    box-sizing: border-box;
}

.inputFile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputFile + label {
    cursor: pointer; /* "hand" cursor */
    color: white;
    background-color: #7d0000;
    display: inline-block;
    height: 30px;
    align-items: center;
    width: 148px;
    line-height: 30px;
    border-radius: 5px;
    border: 1px solid white;
    text-align: center;
}

.inputFile + label:hover, button:hover {
    background-color: red;
}


.no-close .ui-dialog-titlebar-close {
    display: none;
}