* {

}

@font-face {

}

body{
    background-color: #464646;
}

#toolboxDiv{
    position: fixed;
    display: flex;
    align-items:center;
    top: 5px;
    left: 160px;
    right: 5px;
    height: 30px;
    background-color: #585858;
}

#sideBarDiv{
    position: fixed;
    top: 5px;
    bottom: 5px;
    left: 5px;
    width: 150px;
    background-color: #787878;
}

.sideBarButtons{
    width: 73px;
}

#canvasDiv{
    position: fixed;
    top: 40px;
    left: 160px;
    bottom: 5px;
    right: 5px;
    background-color: white;
}

#doneDiv{
    position: fixed;
    display: flex;
    align-items:center;
    top: 5px;
    right: 5px;
    height: 30px;
    background-color: #585858;
}





.sideBarTab{
    position: fixed;
    background-color: transparent;
    top: 60px;
    bottom: 5px;
    left: 5px;
    width: 150px;
}