* {
    /* Prevents entire web page from being selectable */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

@font-face {

}

body{
    background-color: #464646;
}

button{
    height: 30px;
    background-color: #7d0000;
    color: white;
    border-radius: 5px;
    border-width: 1px;
    border-color: white;
}

#toolboxDiv{
    position: fixed;
    display: flex;
    align-items:center;
    top: 5px;
    left: 160px;
    right: 5px;
    height: 30px;
    background-color: #585858;
}

#sideBarDiv{
    position: fixed;
    top: 5px;
    bottom: 5px;
    left: 5px;
    width: 150px;
    background-color: #787878;
}

.sideBarButtons{
    width: 73px;
}

#canvasDiv{
    position: fixed;
    top: 40px;
    left: 160px;
    bottom: 5px;
    right: 5px;
    background-color: white;
}

#doneDiv{
    position: fixed;
    display: flex;
    align-items:center;
    top: 5px;
    right: 5px;
    height: 30px;
    background-color: #585858;
}

.sideBarTab{
    position: fixed;
    background-color: transparent;
    top: 80px;
    bottom: 5px;
    left: 5px;
    width: 150px;
    overflow-y: scroll;
    font-size: 12px;
}

.sideBarImage{
    width: 110px;
    margin-left: 20px;
    box-sizing: border-box;
}